!!!
%html
%head
  %title Ruby on Rails Jobs
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csp_meta_tag

  %body
    - Category.all.each do |category|
      = link_to category.name, jobs_path(category: category.name)
    = yield 
